.dp-message {
    box-sizing: border-box;
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 15px;
    min-width: 20%;
    max-width: 50%;
    transition: top .3s;
    background: #eee;
}

.dp-close {
    display: inline-block;
    float: right;
}